@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
}
body,
html {
  overflow-x: hidden;
}

body {
  background-color: rgba(238, 236, 236, 0.827);
}

h1 {
  margin-bottom: 1em;
}

.hero-section h1 {
  margin-bottom: 0;
}

/*Nav bar*/
.nav {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 2em;
}
.nav-logo {
  width: 12em;
  margin-left: -3em;
}

.nav-links {
  display: none;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 5em;
  bottom: 7em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgba(0, 0, 0, 0.674);
  padding: 2em;
  transform: translateX(100em);
  transition: transform 0.7s;
  backdrop-filter: blur(15px);
  z-index: 50;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  margin-bottom: 2.5em;
  font-size: 1.1em;
}

.close-button {
  width: 25px;
  align-self: flex-end;
}

/*Hero Section*/

.hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: white;
  font-size: 1.2em;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.hero-section-overlay {
  position: absolute;
  top: 35%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 0em 1em;
}
.heroSwiper {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-bg-img,
.outreach-img {
  width: 100%;
  height: 100%;
  filter: brightness(45%) blur(5px);
  object-fit: cover;
}

.outreach-img {
  filter: brightness(50%) blur(0px);
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
}

.join-us-button,
.browse-sermons-button {
  color: white;
  background-color: transparent;
  border: solid white 1px;
}
.support-us-button {
  background-color: rgb(255, 255, 6);
  text-decoration: none;
  color: #1c1c1c;
  border: none;
  text-align: center;
  max-width: 12em;
  height: 2em;
}
.button-grid {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.browse-sermons-button {
  width: 10em;
}
button,
.button {
  padding: 0.5em;
  cursor: pointer;
  width: 8em;
  height: 2.5em;
  text-align: center;
  transition: transform 0.3s ease;
}

/*About Section*/
.about-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1c1c1c;
  font-size: 1.2em;
  padding: 2em 1em;
}
.about-section h2 {
  margin-bottom: 1em;
}
.founder-img {
  margin-top: 1.5em;
  width: 100%;
  margin-bottom: 1em;
}
.founder-image-subtitle {
  font-size: 0.9em;
  color: #1c1c1c;
  text-align: center;
}

.second-subtitle {
  font-style: italic;
  font-size: 0.6em;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1c1c1c;
  padding: 2em 1em;
  border: solid #1c1c1c 1px;
  border-radius: 30px;
  margin-top: 2em;
  gap: 2em;
}

.mission-section h4,
.vision-section h4 {
  text-align: center;
}

.mission-icon,
.vision-icon {
  width: 50px;
  margin-bottom: 1em;
}
button:hover,
.button:hover {
  transform: translateY(-3px);
}

.sermons-section,
.sermon-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sermons-section {
  flex-direction: column;
  margin-top: 3em;
  background-color: #1c1c1c;
  color: white;
  padding: 2em 0;
}
.sermon-cards {
  flex-direction: row;
  width: 100vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.sermon-card {
  flex: 0 0 100vw;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  border: none;
  height: 23em;
  color: white;
}
.sermon-card-image {
  background-color: rgb(224, 222, 222);
  width: 100%;
  height: 80%;
}
.sermon-card-text {
  width: 100%;
}
.outreaches-section {
  margin: 3em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outreachesSwiper {
  width: 100%;
  height: 23em; /* fixed height */
}

.outreachesSwiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.outreaches-image {
  width: 100%;
  height: 23em;
  position: relative;
}

.outreaches-text {
  display: none;
}

.outreaches-flex-left {
  overflow: hidden;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background-color: #1c1c1c;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 20em;
}
.form-input {
  border: solid white 1px;
  border-radius: 10px;
  width: 100%;
  height: 2em;
  padding: 1.5em;
  color: white;
  background-color: transparent;
  outline: none;
  resize: none;
}
.textarea {
  height: 10em;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 2em 0;
  width: 20em;
}

.outreaches-mobile-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  gap: 1em;
}
.black-support-us-button {
  background-color: #1c1c1cf1;
  color: white;
  width: 12em;
  text-decoration: none;
}

.see-all-outreaches {
  text-decoration: none;
  color: #1c1c1c;
  border: solid #1c1c1c 1px;
  background-color: transparent;
  width: 12em;
}
.outreaches-button-section {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.outreaches-button-section button {
  height: 3em;
  width: 14.6em;
  text-align: center;
}
/*Media Queries*/

@media (max-width: 600px) {
}

@media (min-width: 900px) {
  .nav-menu,
  .menu {
    display: none;
  }

  .nav {
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 15em;
    padding-top: 0.5em;
  }

  .nav-links {
    display: flex;
  }
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 5em;
    font-size: 1.2em;
  }

  .button-grid {
    flex-direction: row;
  }
  .our-history,
  .mission-vision {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    gap: 2em;
  }
  .our-history .text-section {
    order: 2;
    max-width: 30em;
  }
  .our-history .image-section {
    order: 1;
    max-width: 20em;
  }

  .mission-vision {
    gap: 7em;
  }

  .mission-section,
  .vision-section {
    height: 20em;
    width: 22em;
  }

  .sermon-cards {
    overflow-x: hidden;
    gap: 2em;
  }
  .sermon-card {
    flex: 0 0 25em;
  }
  .outreaches-overlay-text {
    display: none;
  }
  .outreaches-section {
    margin-right: 0;
    margin-left: 0;
  }
  .outreaches-flex-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .outreaches-text {
    display: flex;
    flex-direction: column;
  }
  .outreaches-flex-right,
  .outreaches-flex-left {
    flex: 0 0 30em;
  }
  .outreaches-image {
    max-width: 30em;
  }
  .outreaches-mobile-buttons {
    display: none;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 8em;
  }
  .contact-form {
    width: 45%;
  }
}
